[Desktop Entry]
Type=Application
Name=IKONU Ingest Browser
Exec=bash /home/pi/ikonu_iot_video-ingest-station/kiosk/start-kiosk.sh
X-GNOME-Autostart-enabled=true
